# Relatório de Análise IV

## Seleções e Frequências

In [51]:
import pandas as pd

In [52]:
dados = pd.read_csv("Dados/dados_residenciais.csv", sep = ";")

In [53]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
7,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
8,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN
9,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0

In [8]:
# Selecione somente os imóveis classificados com tipo 'Apartamento'.

# Selecione os imóveis classificados com tipos 'Casa', 'Casa de Condomínio' e 'Casa de Vila'.

# Selecione os imóveis com área entre 60 e 100 metros quadrados, incluindo os limites.

# Selecione os imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00.

### Minha solução

In [47]:
dados_apartamento = dados['Tipo'] == 'Apartamento' #dados_apartamento = dados['Tipo'] == 'Apartamento'

In [48]:
primeira_classificacao = dados[dados_apartamento].shape[0]

In [49]:
primeira_classificacao

22580

In [18]:
segunda_classificacao = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [19]:
dados_segunda_classificacao = dados['Tipo'].isin(segunda_classificacao)

In [22]:
dados_segunda_classificacao

0        False
1         True
2        False
3        False
4        False
5        False
6         True
7         True
8        False
9        False
10       False
11       False
12       False
13       False
14        True
15       False
16       False
17       False
18        True
19       False
20       False
21       False
22       False
23       False
24        True
25       False
26       False
27       False
28       False
29       False
         ...
22550    False
22551    False
22552    False
22553    False
22554    False
22555     True
22556    False
22557    False
22558     True
22559    False
22560    False
22561    False
22562    False
22563    False
22564    False
22565    False
22566    False
22567    False
22568    False
22569    False
22570    False
22571    False
22572    False
22573    False
22574     True
22575    False
22576    False
22577    False
22578    False
22579    False
Name: Tipo, Length: 22580, dtype: bool

In [24]:
dados_segunda_classificacao = dados[dados_segunda_classificacao]

In [42]:
segunda_classificacao = dados_segunda_classificacao.shape[0]

In [43]:
segunda_classificacao

2212

In [33]:
terceira_classificacao = (dados['Area'] >= 60) & (dados['Area'] <= 100)

In [34]:
terceira_classificacao = dados[terceira_classificacao].shape[0]

In [35]:
terceira_classificacao

8719

In [37]:
quarta_classificacao = (dados['Quartos'] >= 4) & (dados['Valor'] < 2000)

In [38]:
quarta_classificacao = dados[quarta_classificacao].shape[0]

In [40]:
quarta_classificacao

41

In [50]:
print('N˚ de  imóveis classificados com tipo Apartamento = {}'.format(primeira_classificacao))
print('N˚ de  imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila = {}'.format(segunda_classificacao))
print('N˚ de  imóveis com área entre 60 e 100 metros quadrados, incluindo os limites = {}'.format(terceira_classificacao))
print('N˚ de  imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = {}'.format(quarta_classificacao))

N˚ de  imóveis classificados com tipo Apartamento = 22580
N˚ de  imóveis classificados com tipos Casa, Casa de Condomínio e Casa de Vila = 2212
N˚ de  imóveis com área entre 60 e 100 metros quadrados, incluindo os limites = 8719
N˚ de  imóveis que tenham pelo menos 4 quartos e aluguel menor que R$ 2.000,00 = 41