# Como criar um DataFrame e manipulação de dados

### Importando o pandas

In [1]:
import pandas as pd

### Criando um DataFrame

In [38]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]

### Criando indices e colunas indices utilizando o .split( )

In [39]:
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [40]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

### Técnicas de manipulação de DataFrame

* Força bruta

In [9]:
df['c1'] #cria uma serie

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [10]:
type(df['c1'])

pandas.core.series.Series

In [13]:
df[['c1','c3']] #cria um dataframe, caso passe paremetros multiplos

    c1  c3
l1   1   3
l2   5   7
l3   8  11
l4  13  15

In [14]:
type(df[['c1','c3']])

pandas.core.frame.DataFrame

In [16]:
df[:] #Seleciona todas as linhas

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [21]:
df[1:3] # Seleciona linhas do indice 1 e 2. Essa maneira não inclui o último, portanto, caso queira ter um rate especí_
        #fico, vá até o índice que deseja + 1

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12

In [22]:
df[1:][['c1','c3']] #A partir da linha 1 eu desejo as colunas c1 e c3

    c1  c3
l2   5   7
l3   8  11
l4  13  15

* Usando o .loc[ ]

In [23]:
df.loc['l3'] #.loc permiter que façamos seleções pelo rótulo da linha

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [27]:
type(df.loc['l3'])

pandas.core.series.Series

In [28]:
df.loc[['l3', 'l2']] # um dataframe é formado por várias Series

    c1  c2  c3  c4
l3   8  10  11  12
l2   5   6   7   8

In [29]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [31]:
df.loc['l1','c2'] #busca um elemento por meio dos nomes dos rótulos

2

* Usando o .iloc[ ]

In [32]:
df.iloc[0,1] #a diferença entre o loc e o iloc é que o loc usa os rótulos e o iloc usa o coeficientes numéricos

2

* Comparando .loc[ ] e .iloc[ ]

In [33]:
df.loc[['l1','l3'], ['c2', 'c4']]

    c2  c4
l1   2   4
l3  10  12

In [35]:
df.iloc[[0,2], [1,3]]

    c2  c4
l1   2   4
l3  10  12